body
{
    background-color: rgb(192, 139, 16);
}

.Layout
{
    display: flex;
    flex-direction: column;
}

.rubrikmm
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#rubrik
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    border: solid 5px rgb(0, 0, 0);
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 20%;
    padding-right: 20%;
    background-color: rgb(255, 255, 214);
    border-radius: 5px;
}
.info
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.info2
{
    border: solid rgb(0, 0, 0) 5px;
    max-width: 45vw;
    min-height: 400px;
    
    margin: 10px;
    background-color: rgb(255, 255, 214);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
#text
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid rgb(0, 0, 0) 5px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 5px;
    
}
#bild1
{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid rgb(0, 0, 0) 5px;
    min-width: 45vw;
    max-width: 90vw;
    max-height: 400px;
    min-height: 200px;
    
    margin: 10px;
    background-color: rgb(255, 255, 214);
    border-radius: 5px;
}
.receptet
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.ingredienser
{
    border: solid rgb(0, 0, 0) 5px;
    max-width: 45vw;
    min-width: 45vw;
    min-height: 400px;
    
    margin: 10px;
    background-color: rgb(255, 255, 214);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.recept
{
    border: solid rgb(0, 0, 0) 5px;
    max-width: 45vw;
    min-width: 45vw;
    min-height: 400px;
    
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 214);
    border-radius: 5px;
}
#recepttitel
{
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid rgb(0, 0, 0) 5px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 5px;
}
#recepttext
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid rgb(0, 0, 0) 5px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 5px;
}
#ingrtitel
{
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid rgb(0, 0, 0) 5px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 5px;
}
#ingrtext
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid rgb(0, 0, 0) 5px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    justify-content: space-around;
    border-radius: 5px;
}