.Layout
{
    display: flex;
    flex-direction: column;
}

.rubrikmm
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#rubrik
{
    border: solid 5px black;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 20%;
    padding-right: 20%;
}
.info
{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
#rätten
{
    border: solid black 5px;
    min-width: 25vw;
    max-width: 25vw;
    max-height: 25vh;
    min-height: 25vh;
}
#info2
{
    border: solid black 5px;
    min-width: 25vw;
    max-width: 25vw;
    max-height: 25vh;
    min-height: 25vh;
    
}