body
{
    background-color: rgb(255, 55, 55);
}

.Layout
{
    display: flex;
    flex-direction: column;
}

.rubrikmm
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#rubrik
{
    border: solid 5px rgb(0, 0, 0);
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 20%;
    padding-right: 20%;
}
.info
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
.info2
{
    border: solid rgb(0, 0, 0) 5px;
    max-width: 45vw;
    min-height: 400px;
   
    margin: 10px;
    background-color: rgb(255, 255, 214);
    display: flex;
    flex-direction: column;
}
#text
{
    border: solid rgb(0, 0, 0) 5px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;

}
#bild1
{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid rgb(0, 0, 0) 5px;
    min-width: 45vw;
    max-width: 90vw;
    max-height: 400px;
    
    margin: 10px;
    background-color: rgb(255, 255, 214);
}